/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:200,400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    color:#333;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding:0 2em;
}

header {
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:white;
    padding:4em 0;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing:0.1em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    padding:2em 0;
}

body>section:nth-child(odd) {
    background-color: #f5f5f5;
}

 body>section h2 {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
 }

body>section section {
    margin:3em 0;
}

.contact {
    background: rgba(0,0,0,0.1);
    width:13em;
    padding:0.4em;
    margin:0 auto;
    -moz-box-shadow:    inset 0 2px 4px rgba(0,0,0,0.1);
 -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
 box-shadow:         inset 0 2px 4px rgba(0,0,0,0.1);
 border-radius:5px;
}
.contact li {
    display:inline;
    margin:1em;
}

.contact li a {
    display:inline-block;
    color:rgba(255,255,255,0.5);
}

.contact li a:hover {
    color:rgba(255,255,255,1);
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.contact {
    text-align: center;
}

.sections {
    text-align: center;
    margin:3em 0 1em 0;
}

.sections li {
    display:inline-block;
    margin:0 1em;
}

.sections li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    font-family: 'Oswald', sans-serif;
    line-height:2em;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.sections li a:hover {
    color:white;
    text-decoration:underline;
}

h2 {
    border-bottom:1px solid #ddd;
    padding-bottom:0.1em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color:#cb2d3e;
    text-transform:uppercase;
    font-size:1em;
    border-bottom:1px solid #f0f0f0;
}

body>section:nth-child(odd) h3 {
    font-family: 'Oswald', sans-serif;
    color:#cb2d3e;
    text-transform:uppercase;
    font-size:1em;
    border-bottom:1px solid #e0e0e0;
}

.section ul {
    list-style-type:none;
    padding:0;
}

.section li {
    background-image: url('../img/bullet.png');
    background-repeat: no-repeat;
    padding-left:1.2em;
    background-size:7px 7px;
    background-position: 0 8px;
    color:#777;
    font-size:0.9em;
    line-height:1.6em;
}

.date {
    float:right;
    color:#888;
    font-weight:200;
}

section a {
    color:#cb2d3e;
    font-size:0.8em;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
